
body {
	background-color: #fff;
	font-family: sans-serif;
}

a {
	color: #2F2318;
}

a.hash {
	color: #6979A8;
}

a.link {
	color: #869DD4;
}

header {
}

.content {
}

.entry {
	display: block;
	padding-bottom: 10px;
	padding-top: 10px;
	border: 1px solid #fff;
	border-bottom: 1px solid #6979A8;
}

header {
	padding-bottom: 10px;
}

.entry:hover {
}

.entry .title {
	width: 100%;
	cursor: pointer;
}

.entry .title:hover {
	background-color: #FFFAD8;
}

.entry .link {
	padding-left: 20px;
}

input {
	width: 500px;
}

