
/*** common ***/

html {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

body {
  /*background-color: #fff;*/
  background-color: white;
  margin: 10px;
}

a {
  /*color: #2F2318;*/
  color: black;
}

a.hash {
  /*color: #6979A8;*/
  color: blue;
}

a.link {
  /*color: #869DD4;*/
  color: green;
}

#content {
  float: left;
  width: 70%;
  margin-left: 3%;
  margin-right: auto;
  min-width: 300px;
  max-width: 1000px;
}


/*** hash tag list ***/

#hashtagscontent {
    float: right;
    width: 20%;
    margin-left: auto;
    margin-right: 3%;
    min-width: 100px;
    max-width: 600px;
}

.hashtag {
  display: block;
  padding-bottom: 5px;
  padding-top: 5px;
  
}

.hashtaglink {
  /*color: #6979A8*/
  color: blue;
}

.sorttagscheckbox {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}



/*** header ***/

.header {
  padding: 0 0 10px 0;
}

input {
  padding: 2px;
  margin: 0;
  width: 98%;
}

/*** entry ***/

.entry {
  display: block;
  padding-bottom: 10px;
  padding-top: 10px;
}

.tags {
  font-size: smaller;
}

.entry:hover {
}

.entry .title {
  width: 100%;
  cursor: pointer;
}

.entry .title:hover {
  background-color: #FFFAD8;
}

.entry .link {
  /*color: #ccc;*/
  color: a.link.color;
  word-wrap: break-word;
  font-size: smaller;
}

/*** responsive ***/


@media (max-width: 800px) {

  #content {
/**
    min-width: 100%;
    max-width: 100%;
**/
    min-width: 70%;
    max-width: 80%;
  }

}



